<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ML Service for Kommandr</title>
</head>
<body>
<h1> This is the API for the ML service of Kommandr </h1>
    <p>
         Each Endpoint will represent a type of ML service. <br/> <br/>
         /recommendations   -->  Get top k recommended programs/commands.<br/>
         /labels   -->  Get labels for a command/program/manpage  -- TBI (To be implemented)<br/>
         /personalized   --> Users can feed their own datasets to get more
                             custom/personalized suggestions -- TBI (To be implemented)
    </p>
</body>
</html>
